{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte",
				"svelteStrictMode": false,
				"svelteAllowShorthand": true
			}
		}
	],
	"tailwindStylesheet": "./src/lib/styles/app.css"
}
